<!-- <*****

    Alarm-CLock Html STarting
    
    *********/ -->

<div class="container-fluid">
    <div id="clockdate" style="padding: 35px;">
        <div class="clockdate-wrapper">
            <div id="clock"></div>
            <div class="calendar-wrapper">
                <div class="weekday-label"></div>
                <div class="month-label"></div>
                <div class="day-label"></div>
                <div class="year"></div>
            </div>
        </div>
        <div class="mb-5 d-flex justify-content-center">
            <button class="btn  btn1 text-white" style="background-color: #DD636E;" data-toggle="modal"
                data-target="#exampleModal">
                Set alarm</button>
        </div>


        <!-- Alarm-Result-Box-Alert -->
        <div class="alarm_result">
            <div class="alarm">
                <div class="alarm-title" style="margin-bottom: 15px;"></div>
                <div class="time">
                    <div class="icon mr-2" style="margin-top: .5rem;">
                        <img src="../../assets/images/logo.png" alt="alarm-logo" style="width:20px">
                    </div>
                    <div class="alarmTime"></div>
                </div>

                <p class="remainTime" style="
                color: #ffff;
                font-size: 30px;
                padding-top: 10px;
            ">

                </p>
            </div>
            <div class="cancel mt-3">
                <button class="btn stop2" style="font-size: 12px;">Stop Alarm</button>
            </div>
        </div>
        <!-- Close-Alert-Box -->

        <!-- Audio -->
        <audio src="" id="myAudio"></audio>
        <!-- close -->

        <!-- Modal Popup When Alarm Ringing the alarm -->
        <div class="modal__wrapper">
            <div class="modal__container">
                <div class="modal-header">
                    <button type="button" class="close stop" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" id="close" style="color:#000">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">Alarm</h5>
                </div>
                <div class="modal-body">
                    <div class="alarm">
                        <div class="icon">
                            <audio id="myAudio">
                                <source src="../../sounds/school.mp3" type="audio/mpeg">
                            </audio>
                            <img src="../../assets/images/logo.png" alt="alarm-logo" style="width:40px">
                        </div>
                        <div class="alarm-title mb-3">Alarm</div>
                        <div class="alarmTime">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="close" class="stop btn btn-primary">OK</button>
                </div>
            </div>
        </div>
        <!-- Close -->
    </div>


    <!-- modal when ringing the alarm -->
    <div class="modal fade topMargin" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background: #0090DD; color:#fff;">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="close modalTest" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row text-left" style="font-size: 13px;">
                        <div class="col-6">
                            <span>Hours</span>
                            <select class="form-control" id="hours"></select>
                        </div>
                        <div class="col-6">
                            <span>Minutes</span>
                            <select class="form-control" id="minutes"></select>
                        </div>

                        <div class="col-6 mt-3">
                            <span>Sound</span>
                            <select class="form-control" id="sound"></select>
                            <div class="col-2 playbtnEdit" style="cursor: pointer;">
                                <i class="fas fa-play playButton fa-2x"></i>
                                <i class="fas fa-pause playButton2 fa-2x" style="display:none"></i>
                            </div>

                        </div>

                        <div class="col-12">
                            <span>Title</span>
                            <input type="text" class="form-control title" id="title" value="Alarm" placeholder="Alarm">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="buttonStyle btn" data-dismiss="modal">Cancel</button>
                    <button type="button" class="buttonStyle2 btn click" data-dismiss="modal"
                        onclick="onEnter()">Start</button>
                </div>
            </div>
        </div>
        </form>
    </div>
    <!-- close -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- some css and js external files added here -->
<link rel="stylesheet" href="{{ 'css/alarm.css' | relative_url }}">
<script src="{{ 'js/alaram.js' | relative_url }}"></script>
<script src="{{ 'js/currentDate.js' | relative_url }}"></script>