<!-- ***********
    
    WAKE-ME-UP-IN-X-MINUTES.HTML
    
    **************** -->
<div class="container-fluid">
    <div id="clockdate" style="padding: 35px;">
        <div class="setAlarm text-white text-center pt-3" style="font-size: 25px;">
            Set alarm for {{page.value}} minutes from now
        </div>
        <div class="clockdate-wrapper">
            <div id="clock"></div>
            <div class="calendar-wrapper">
                <div class="weekday-label"></div>
                <div class="month-label"></div>
                <div class="day-label"></div>
                <div class="year"></div>
            </div>
        </div>
        <div class="mb-5 d-flex justify-content-center">
            <button class="btn text-white  mr-4 testBtn" style="border: 3px solid white;
            " data-toggle="modal" data-target="#exampleModal" id="testingModal">Test alarm</button>


            <button class="btn  btn1 text-white" onclick="onEnter()" style="
                border: 3px solid white;
            ">
                Set alarm</button>
        </div>
        <!-- ALARM ALERT BOX  -->
        <div class="alarm_result">
            <div class="alarm">
                <div class="alarm-title" style="margin-bottom: 15px;">Alarm</div>
                <div class="time">
                    <div class="icon mr-2">
                        <img src="../../assets/images/logo.png" alt="alarm-logo" style="width:20px">
                    </div>
                    <div class="alarmtime"></div>
                </div>

                <div class="remainningTimes mt-3">
                    <span>
                        <span class="remainningTime"></span>
                        <span class="remainningTime"></span>
                    </span>

                </div>
            </div>
            <div class="cancel mt-3">
                <button class="btn stop btn-danger" style="font-size: 12px;">Stop Alarm</button>
            </div>
        </div>

        <!-- ALARM RINGIGN POPUP -->
        <div class="modal__wrapper">
            <div class="modal__container">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alarm</h5>
                    <button type="button" class="close stop" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" id="close" style="color:#000">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alarm">
                        <div class="icon">
                            <audio id="myAudio">
                                <source src="../../sounds/school.mp3" type="audio/mpeg">
                            </audio>
                            <img src="../../assets/images/logo.png" alt="alarm-logo" style="width:40px">
                        </div>
                        <div class="alarm-title mb-3">Alarm</div>
                        <div id="alarmText"></div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="close" class="stop btn btn-primary">OK</button>
                </div>
            </div>
        </div>

        <!-- test modal -->
        <div class="modal fade topMargin" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Alarm</h5>
                        <button type="button" class="close modalTest" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color:#000">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alarm">
                            <div class="icon">
                                <img src="../../assets/images/logo.png" alt="alarm-logo" style="width:40px">
                            </div>
                            <div class="alarm-title mb-3 mt-3">Alarm</div>
                            {{page.minutes}} minutes from now
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="close" class="close modalTest btn btn-primary" data-dismiss="modal"
                            aria-label="Close">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CSS FILE EXTERNAL -->
<link rel="stylesheet" href="{{ 'css/alarm.css' | relative_url }}">
<script src="{{ 'js/currentDate.js' | relative_url }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>

    //GRAB ALL HTML TAGS
    let audio = document.getElementById('myAudio')
    let testingModal = document.getElementById('testingModal')


    let editAlarm = document.querySelector(".editAlarm")
    let URL = `{{page.permalink}}`

    // hr , mins , amp
    let Minutes = `{{page.minutes}}`
    let remainningTime = document.getElementsByClassName('remainningTime')

    let timeUp
    let my_timer

    let set_time_alarm_result = document.querySelector('.alarm_result')
    let alaram_testing_popup = document.querySelector('.alaram_testing_popup')
    let btn1 = document.querySelector('.btn1')
    let testBtn = document.querySelector('.testBtn')
    let close = document.querySelector('.close')
    let setAlarmTxt = document.querySelector('.setAlarm')
    let alarmtime = document.querySelector('.alarmtime')

    let activeAlarm = false
    let currentTime
    let alarmElement

    let alarmText = document.getElementById("alarmText")

    // modal
    const trigger = document.querySelector('#trigger')
    const modalWrapper = document.querySelector('.modal__wrapper')
    const closeBtn = document.querySelector('.close')
    const afterTimeBtn = document.querySelector('.close')

    // testModal audio playing
    testingModal.addEventListener('click', () => {
        audio.play()
        audio.loop = true
    })

    // RESET TEST MODAL
    document.querySelectorAll('.modalTest').forEach((item) => {
        item.addEventListener('click', (event) => {
            audio.pause()
        })
    })

    // ALARM RINGING FUNCTIONS
    function startTime() {
        var today = new Date()
        var hr = today.getHours() //for hours
        var min = today.getMinutes() //for mins
        var sec = today.getSeconds() //for sec

        //Add a zero in front of numbers<10
        min = checkTime(min)
        sec = checkTime(sec)

        // AMPM LOGIC here
        ap = hr < 12 ? 'AM' : 'PM'
        hr = hr == 0 ? 12 : hr
        hr = hr > 12 ? hr - 12 : hr

        currentTime = hr + ':' + min + ' ' + ap
        let currentTimes = hr + ':' + min + ':' + sec + ' ' + ap
        xminutes = localStorage.getItem(`${URL}`)
        if (currentTimes == xminutes) {
            alarmText.innerHTML = xminutes
            openModal()
            audio.play()
            audio.loop = true
        }

        // today date and time printing...
        document.getElementById('clock').innerHTML =
            hr + ':' + min + ':' + sec + ' ' + `<span> ${ap} </span>`

        var time = setTimeout(function () {
            startTime()
        }, 500)
    }

    // calling function
    startTime()

    function checkTime(i) {
        if (i < 10) {
            i = '0' + i
        }
        return i
    }

    window.onload = function () {
        if (typeof localStorage == 'undefined') {
            alert('Your browser does not support HTML5 localStorage. Try upgrading.')
        } else {
            if (localStorage.getItem(`${URL}-background`) != null) {
                set_time_alarm_result.style.background = localStorage.getItem(`${URL}-background`)
                alarmtime.innerHTML = "Alarm set for " + xminutes
                setAlarmTxt.innerHTML = "Alarm set for " + Minutes
                set_time_alarm_result.style.display = 'block'
            }
            if (localStorage.getItem(`${URL}-EditOptionbackground`) != null) {
                edit_alarm_result.style.background = localStorage.getItem(`${URL}-EditOptionbackground`)

                console.log(console.log(localStorage.getItem(`${URL}-EditOptionbackground`)))
                alarmTitles[0].innerHTML = localStorage.getItem(`${URL}-alarmTitle`)
                // alarmTitles[1].innerHTML = localStorage.getItem('alarmTitle')
                alarmTime[0].innerHTML = localStorage.getItem(`${URL}-alarm`)
                alarmTime[1].innerHTML = localStorage.getItem(`${URL}-alarm`)
                edit_alarm_result.style.display = 'block'
                editAlarm.style.display = "none"
                btn1.style.display = 'none'
                testBtn.style.display = 'none'
            }
        }
    }

    // ALARM SETIING FUNCTION
    function onEnter() {
        setColour = 'rgb(26 26 26)'
        set_time_alarm_result.style.background = setColour
        localStorage.setItem(`${URL}-background`, setColour)
        set_time_alarm_result.style.display = 'block'
        btn1.style.display = 'none'
        testBtn.style.display = 'none'
        if (activeAlarm == false) {
            alarmElement = moment().add(Minutes, 'minutes').format('h:mm:ss A')
            localStorage.setItem(`${URL}`, alarmElement)
            let xminutes = localStorage.getItem(`${URL}`)
            setAlarmTxt.innerHTML = "Alarm set for " + xminutes
            alarmtime.innerHTML = "Alarm set for " + xminutes

            let startingMinutes = Minutes
            let diff = 0 * 60 * 60 + startingMinutes * 60 + 0;
            console.log(diff)
            var date = new Date();

            minDiff(diff)

        }
    }

    function minDiff(dur) {
        // console.log(dur)
        var x
        var time = dur;
        let hours, minutes, seconds;

        var tempTime;
        clearInterval(x);
        x = setInterval(function () {
            let minutes = Math.floor(time / 60)
            let seconds = time % 60
            minutes = minutes < 10 ? '0' + minutes : minutes
            seconds = seconds < 10 ? '0' + seconds : seconds
            time--
            console.log(minutes)

        }, 1000);

    }

    // REST ALARM SET FNC
    document.querySelectorAll('.stop').forEach((item) => {
        item.addEventListener('click', (event) => {
            localStorage.removeItem(`${URL}-remanningMinutes`)
            clearInterval(my_timer)
            audio.pause();
            closeModal()
            setAlarmTxt.innerHTML = `Set alarm for {{ page.value }} minutes from now`
            set_time_alarm_result.style.display = 'none'
            btn1.style.display = 'block'
            testBtn.style.display = 'block'
            localStorage.removeItem(`${URL}-background`)
            localStorage.removeItem(`${URL}`)
        })
    })


    // Modal Js
    closeBtn.addEventListener('click', function () {
        closeModal()
    })

    modalWrapper.addEventListener('click', function (e) {
        if (e.target !== this) return
        closeModal()
    })

    document.addEventListener('keydown', function (e) {
        if (e.key === 'Escape') {
            closeModal()
        }
    })

    function openModal() {
        modalWrapper.classList.add('active')
    }
    function closeModal() {
        modalWrapper.classList.remove('active')
    }


</script>